/* LOGIN FORM  */

.login_page_container { 
    text-align: center;

}


form { 
    position: relative;
    width: 30%;
    display: inline-block;
    top: 10%;
    height:auto;
}

.header {
    font-size: 55px;
    color: orange;
    outline: none;
    font-family: Kanit;
    text-shadow: #000 3px 3px 10px;
    margin-bottom: 5vh;
    -webkit-text-stroke: 2px black;
}

button {   
    background-color: #5b9aa0;   
    color: black;   
    padding: 15px;   
    margin: 10px 0px;   
    cursor: pointer;   
    display: inline-block;
    width: 100px;
}   

input[class="input_field"]{   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    box-sizing: border-box;   
}  

button:hover {   
    opacity: 0.7;   
}   
  
.container {   
    padding: 25px;   
    position: relative;
    box-sizing: border-box;
    background-position-x: 25vw;
    background-position-y: 30.7vw;
    background-color:#222121;
    border-color: #36486b;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    outline: none;
    width: 100%;
}   

.buttons_container { 
  float:left;
  width:100%;
  text-align:center;
}

button { 
    display: inline-block;
}
#btn_login, #btn_register {
    font-size: 15px;
    padding: 10px 15px;
    z-index: 2;
    box-sizing: border-box;
    color: #5b9aa0;
    background-color:#1e1e1e;
    border-color:white;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    outline: none;
    font-family: Kanit;
    text-shadow: #000 1px 1px 10px;
    cursor: pointer;
}

label[class="login_label"] {
    font-size: 25px;
    color: rgb(29, 143, 143);
    outline: none;
    font-family: Kanit;
    text-shadow: #000 1px 1px 10px;
}

input[class="input_field"] {
    font-size: 15px;
    color: #e06c00;
    background-color:#181818;
    font-family: Kanit;
    border-color: #5b9aa0;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    text-shadow: rgb(0, 0, 0) 1px 1px 10px;
    outline: none;
}