nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: rgb(80, 75, 75);
    color: white;

}


.navItems{
    width: 40%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

nav h3 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}