
.proj_container { 
    max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 4px solid #305A72;

}

.proj_name { 
    font-weight: bold;
    font-size: 1.2rem;
}